.calendar-container {
    .calendar {
        .event {
            .image {
                border: solid 4px $other;
            }

            /*----------- IMAGENS CULTURAIS  --------------*/

            .image-1 {
                background-image: url('../../assets/resources/trivial.jpg');
                background-size: cover;
            }

            .image-2 {
                background-image: url('../../assets/resources/bandas.jpg');
                background-size: cover;
            }

            .image-3 {
                background-image: url('../../assets/resources/dr.why.jpg');
                background-size: cover;
            }

            .image-4 {
                background-image: url('../../assets/resources/concurso_dj.jpg');
                background-size: cover;
            }

            .image-5 {
                background-image: url('../../assets/resources/o_que_fazias.jpg');
                background-size: cover;
            }

            /*----------- IMAGENS DESPORTIVAS  --------------*/

            .image-sport-1 {
                background-image: url('../../assets/resources/intelectual.jpg');
                background-size: cover;
            }

            .image-sport-2 {
                background-image: url('../../assets/resources/torneios_aac_1.jpg');
                background-size: cover;
            }

            .image-sport-3 {
                background-image: url('../../assets/resources/bubble.jpg');
                background-size: cover;
            }

            .image-sport-4 {
                background-image: url('../../assets/resources/liga_academica.jpg');
                background-size: cover;
            }

            .image-sport-5 {
                background-image: url('../../assets/resources/surf_trip.jpg');
                background-size: cover;
            }

            .image-sport-6 {
                background-image: url('../../assets/resources/coimbra_pump.jpg');
                background-size: cover;
            }

            .image-sport-7 {
                background-image: url('../../assets/resources/skate_park.jpg');
                background-size: cover;
            }

            .image-sport-8 {
                background-image: url('../../assets/resources/luta_agua.jpg');
                background-size: cover;
            }

            /*----------- IMAGENS TRADCIONAIS  --------------*/

            .image-trad-1 {
                background-image: url('../../assets/resources/recita.jpg');
                background-size: cover;
            }

            .image-trad-2 {
                background-image: url('../../assets/resources/cortejo_pequenos.jpg');
                background-size: cover;
            }

        }
    }
}
