html {
  background: $main;
  position: relative;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

* {
  color: $other;
}

h2, h3, p, html {
  font-family: 'VCR', sans-serif;
}

h1 {
  font-family: 'AnoBlack', sans-serif;
  font-size: 3.2rem;
  line-height: 130%;
  font-weight: 100;

  @include phablet() {
    font-size: 4rem;
  }
}

h2 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: -.05em;
  line-height: 140%;
}

span {
  display: inline-block;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  line-height: 2.3rem;
}

b {
  font-weight: 700;
}

strong {
  font-weight: 900;
}

i {
  font-style: italic;
}

.logo {
  position: absolute;
  left: 56px;
  top: 56px;
  width: 25vw;
  height: 6vw;
  background: $main;
  z-index: 3;

  div {
    background: $main;
    border: solid 0.15vw $other;
    box-sizing: border-box;
    font-size: 0.7vw;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
  }
  .title {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 1vw;
    padding-top: 1.2vw;
    h1 {
      font-size: 2.1vw;
    }
    z-index: 0;
    .blink {
      margin-left: 0.5vw;
      margin-top: -0.4vw;
      width: 1.4vw;
      height: 1.8vw;
      background: $other;
      animation-name: blink;
      animation-duration: 1.4s;
      animation-iteration-count: infinite;
      animation-fill-mode: both;
    }
    @keyframes blink {
        0% {
          opacity: .1;
        }

        20% {
          opacity: 1;
        }

        100% {
          opacity: .1;
        }
    }
  }
  .place {
    position: absolute;
    left: 1.2vw;
    top: -0.6vw;
    height: 2vw;
    width: 25vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 1vw;
    z-index: 1;
  }
  .top {
    position: absolute;
    left: 2.2vw;
    top: -1.2vw;
    height: 1vw;
    width: 18vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 0.2vw;
    z-index: 2;
  }
  .when {
    position: absolute;
    right: 2vw;
    bottom: -1.4vw;
    height: 2vw;
    width: 24vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1.2vw;
    z-index: 1;
  }
  .square {
    position: absolute;
    left: 20vw;
    top: -1.2vw;
    height: 1vw;
    width: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 0.2vw;
    background: $other;
    z-index: 2;
    .inner-square {
      width: 70%;
      height: 70%;
      border: solid 0.11vw $main;
      background: $other;
    }
  }
  .heart {
    position: absolute;
    left: 22vw;
    top: -1.2vw;
    height: 1vw;
    width: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: $other;
    z-index: 2;
    svg {
      fill: $main;
      width: 50%;
      height: 50%;
    }
  }
}

.logo-home {
  transform: scale(1.3);
  transform-origin: top left;

  @media screen and (max-width: 805px) {
    display: none;
  }
}

.logo-square {
  width: 60%;
  display: block;
  margin: 0 auto;
  padding-top: 96px;

  .cls-1, .cls-3 {
    fill: $main;
  }
  .cls-2 {
    fill: $other;
  }

  @media screen and (min-width: 805px) {
    display: none;
  }
}

.nav-button {
  position: absolute;
  right: calc((100vw / 6) - 30px);
  top: calc((100vh / 6) - 25px);
  cursor: pointer;
  z-index: 6;
  transition: padding-left 0.5s;

  div {
    background: $other;
    height: 4px;
    width: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    transform-origin: center left;
    transition: opacity 0.5s, transform 0.5s;
  }

  &.active {
    div:nth-child(2) {
      opacity: 0;
    }
    div:nth-child(1) {
      transform: rotate(45deg);
    }
    div:nth-child(3) {
      transform: rotate(-45deg);
    }
  }

  @media screen and (max-width: 805px) {
    margin: 0 auto;
    left: 0;
    right: 0;
    top: calc(100vh / 44);
    width: 40px;
  }

  &.active {
    position: fixed;
    padding-left: 6px;
  }
}

.navbar {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  right: -100vw;
  transition: right 0.5s, top 0.5s;

  div {
    a {
      font-family: 'AnoBlack', sans-serif;
      font-size: 3.2rem;
      border: solid 4px rgba(0,0,0,0);
      box-sizing: border-box;
      background: rgba(0,0,0,0);
      padding: 12px;
      padding-bottom: 6px;
    }
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &.active {
    right: 0;
  }

  nav {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid 2px $other;

    div {
      width: calc(100% / 3);
      height: calc(100% / 3);
      background: $main;
      border: solid 2px $other;

      &:hover {
        background-color: $main;
        background-image: linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other), linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other);
        background-size: 30px 30px;
        background-position:0 0, 15px 15px;

        a {
          background: $main;
          border: solid 4px $other;
        }

        &:nth-child(3) {
          background: $main;
        }
      }

      @media screen and (max-width: 805px) {
        &:last-child {
          border-bottom: solid 6px $other;
        }
      }
    }

    @media screen and (max-width: 805px) {
      flex-direction: column;
      flex-wrap: nowrap;

      div {
        height: calc(100% / 9);
        width: 100% !important;
      }

      div:nth-child(3) {
        display: none;
      }
    }
  }
  @media screen and (max-width: 805px) {
    right: 0;
    top: -100vh;

    &.active {
      top: 11.5%;
    }
  }
  @media screen and (min-width: 805px) {
    top: 0;
  }
}

.countdown {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;

  #timer {
    font-size: 8rem;
    padding-bottom: 24px;
    text-align: center;

    @media screen and (max-width: 370px) {
      font-size: 6rem;
    }
  }
}

.loadbar {
  width: 100%;
  height: 36px;
  border: solid 4px $other;
  box-sizing: border-box;

  #load {
    height: 100%;
    background: $other;
    width: 0;
    transition: width 2s;
  }
}

main {
}

.doc-grid {
  padding-top: 280px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px;
  grid-row-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 850px;
  justify-content: center;
  margin: 0 auto;

  @media screen and (max-width: 805px) {
    padding-top: 96px;
  }
}

.doc {
  display: flex;
  align-items: center;
  flex-direction: column;

  &.outdated {
    filter: opacity(50%);
  }

  svg {
    fill: $other;
    width: 90px;
  }

  p {
    margin-top: 12px;
    text-align: center;
  }
}

.contact-grid {
  padding-top: 280px;
  padding-bottom: 96px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  grid-gap: 80px;
  grid-row-gap: 40px;
  grid-auto-rows: minmax(100px, auto);
  max-width: 950px;
  justify-content: center;
  margin: 0 auto;

  @media screen and (max-width: 805px) {
    grid-template-columns: repeat(auto-fill, 80%);
  }

  @media screen and (max-width: 805px) {
    padding-top: 96px;
  }

  &.news {
    grid-template-columns: repeat(auto-fill, 500px);
    max-width: 1100px;
    grid-row-gap: 80px;

    @media screen and (max-width: 805px) {
      grid-template-columns: repeat(auto-fill, 80%);
    }

    &.read {
      grid-template-columns: 100%;
      max-width: 1000px;
      padding-bottom: 280px;

      @media screen and (max-width: 1085px) {
        left: 0;
        padding-bottom: 400px;
      }
    }
  }

  .contact {
    position: relative;
    left: -6px;
    .square {
      position: absolute;
      left: 85%;
      top: 0;
      background: $other;
      width: 44px;
      height: 44px;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;

      &.read {
        background: $main;
        border: solid 4px $other;
      }
      .inner-square {
        border: solid 4px $main;
        width: 50%;
        height: 50%;
      }
      &.news {
        left: calc(95% - 22px);
        svg {
          width: 50%;
          fill: $main;
        }
        &.read {
          @media screen and (max-width: 1085px) {
            left: calc(80vw + 12px);
            top: -24px;
          }
          right: 0;
          top: 0px;
          svg {
            width: 55%;
            margin-left: 4px;
            margin-top: 4px;
            fill: $other;
          }
        }
      }
    }
    .contact-top, .contact-bottom {
      position: relative;
      border: solid 4px $other;
      background: $main;
    }
    .contact-top {
      font-size: 2rem;
      display: flex;
      align-items: center;
      padding: 6px;
      z-index: 1;
      width: 80%;
      box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;

      &.news {
        position: absolute;
        background-color: $main;
        background-image: linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other), linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other);
        background-size: 30px 30px;
        background-position:0 0, 15px 15px;
        width: 150px;
        height: 150px;

        @media screen and (max-width: 805px) {
          width: 100px;
          height: 100px;
        }

        &.read {
          width: 300px;
          height: 300px;

          @media screen and (max-width: 1085px) {
            position: static;
            margin: 0 auto;
            width: 80%;
            max-width: 700px;
            height: 60vw;
          }
        }
      }
    }
    .contact-bottom {
      width: 95%;
      left: 24px;
      top: -24px;
      display: flex;
      padding: 12px;
      flex-direction: column;
      z-index: 0;

      &.news {
        top: 24px;
        width: 80%;
        left: 15%;
        padding-left: 86px;

        @media screen and (max-width: 805px) {
          .name {
            padding-left: 56px;
          }
          &.read {
            .name {
              padding-left: 0px;
              line-height: 110%;
            }
          }
          padding-left: 12px;
        }

        &.read {
          max-width: 700px;
          padding-left: 80px;
          padding-right: 24px;
          padding-bottom: 42px;

          @media screen and (min-width: 1085px) {
            left: calc(15% + 100px);
          }
          @media screen and (max-width: 1085px) {
            padding-left: 24px;
            margin: 0 auto;
            left: 0;
          }
        }
      }
      .name {
        font-size: 1.2rem;
        font-family: 'AnoBlack', sans-serif;

        &.news {
          font-size: 2rem;

          &.read {
            font-size: 2.5rem;
            padding-top: 24px;
          }
        }
      }
      .description {
        font-size: 1.2rem;
        line-height: 120%;

        &.news {
          font-size: 1.5rem;
          font-family: 'AnoBlackRegular', sans-serif;

          &.read {
            font-size: 1.8rem;
          }
        }
      }
      .date.news {
        font-size: 1rem;

        &.read {
          font-size: 1.5rem;
          padding-bottom: 24px;
        }
      }
    }
    .contact-title {
      background: $other;
      color: $main;
      padding: 6px;
      margin-top: 24px;
      margin-bottom: 6px;
      a {
        font-size: 1.2rem;
        color: $main;
      }
    }
  }
}

.partner-container {
  padding-top: 280px;
  padding-bottom: 96px;
  max-width: 950px;
  margin: 0 auto;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: 805px) {
    padding-top: 96px;
  }

  .partner-c-container {
    border: solid 4px $other;
    padding: 24px;

    .partner-grid-c {
      margin-bottom: 32px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h2 {
    font-size: 1.5rem;
    padding: 4px;
    padding-right: 8px;
    background: $other;
    color: $main;
    display: inline-block;
    margin-bottom: 24px;
  }

  .partner-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 90px);
    grid-gap: 12px;
    grid-row-gap: 12px;
    grid-auto-rows: minmax(90px, auto);

    .partner {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 90%;
      }
      // Temporary!
      background-color: $main;
      background-image: linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other), linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other);
      background-size: 30px 30px;
      background-position:0 0, 15px 15px;
    }
  }
}

.history-container {
  padding-top: 280px;
  padding-bottom: 96px;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: 805px) {
    padding-top: 96px;
  }

  .history-container-c {
    max-width: 650px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    border: solid 4px $other;
    padding-top: 48px;
    padding-bottom: 32px;
    font-size: 1.5rem;
    font-family: 'AnoBlackRegular', sans-serif;
    position: relative;
  }

  .square {
    position: absolute;
    left: 85%;
    top: -24px;
    background: $other;
    width: 44px;
    height: 44px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
    .inner-square {
      border: solid 4px $main;
      width: 50%;
      height: 50%;
    }
  }
  .contact-top {
    font-family: 'VCR', sans-serif;
    left: 24px;
    top: -24px;
    position: absolute;
    border: solid 4px $other;
    background: $main;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 6px;
    z-index: 1;
    width: 80%;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
  }
}

.soon-tickets {
  font-family: 'AnoBlack', sans-serif;
  font-size: 3rem !important;
}

.soon-container {
  padding-top: 280px;
  padding-bottom: 96px;
  padding-left: 24px;
  padding-right: 24px;

  @media screen and (max-width: 805px) {
    padding-top: 96px;
  }

  img {
    width: 100%;
    max-width: 650px;
    display: block;
    margin: 0 auto;
    border: solid 4px $other;
    border-bottom: 0;
  }

  .soon-container-c {
    max-width: 650px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    border: solid 4px $other;
    padding-top: 48px;
    padding-bottom: 32px;
    font-size: 2.2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    svg {
      margin-top: 24px;
      margin-bottom: 32px;
      width: 100px;
      .cls-1 {
        stroke: $other;
      }
      .cls-2 {
        fill: $other;
      }
    }
  }

  .square {
    position: absolute;
    left: 85%;
    top: -24px;
    background: $other;
    width: 44px;
    height: 44px;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
    .inner-square {
      border: solid 4px $main;
      width: 50%;
      height: 50%;
    }
    .heart {
      width: 100%;
      height: 100%;
      margin-bottom: 50%;
      svg {
        fill: $main;
        width: 50%;
      }
    }
  }
  .soon-top {
    font-family: 'VCR', sans-serif;
    left: 24px;
    top: -24px;
    position: absolute;
    border: solid 4px $other;
    background: $main;
    font-size: 2rem;
    display: flex;
    align-items: center;
    padding: 6px;
    padding-left: 12px;
    z-index: 1;
    width: 80%;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
  }
}

.change-button {
  position: absolute;
  width: 350px;
  height: 70px;
  padding-top: 12px;
  border: solid 4px $other;
  bottom: 64px;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-family: 'AnoBlack', sans-serif;
    font-size: 2.2rem;
  }

  @media screen and (max-width: 1085px) {
    width: 80%;
    height: 90px;
    padding-left: 12px;
    padding-right: 12px;
  }

  .change {
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;
    position: absolute;
    top: -24px;
    border: solid 4px $other;
    padding: 6px;
    font-size: 1.5rem;
    background: $main;
  }

  &.left {
    left: 64px;
    .change {
      left: -24px;
    }
    @media screen and (max-width: 1085px) {
      left: 10%;
      bottom: 200px;
    }
  }
  &.right {
    right: 64px;
    .change {
      right: -24px;
    }
    @media screen and (max-width: 1085px) {
      right: 10%;
    }
  }
}

main.read {
  position: relative;
  z-index: 2;
}

.calendar-container {
  padding-left: 42px;
  padding-right: 42px;
  display: flex;
  flex-direction: row;
  height: 600px;
  width: 100%;

  .calendar-menu {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 100%;
    margin-right: 42px;
    justify-content: space-around;

    .menu svg {
      height: 80px;
      fill: $other;

      &.hide {
        display: none;
      }
    }

    .menu-title {
      width: 100%;
      text-align: center;
      font-size: 1.8rem;
      margin-top: -24px;
      margin-bottom: 12px;
    }
  }

  .calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: calc(100% - 150px);
    padding: 42px;
    overflow-y: scroll;
    border: solid 4px $other;
    box-shadow: -0.9vw 0.9vw 1.5vw -0.75vw $other;

    &.hide {
      display: none;
    }

    .event {
      width: 150px;
      margin: 12px;

      div {
        width: 100%;
        height: 150px;
        margin-bottom: 12px;
        background-color: $main;
        background-image: linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other), linear-gradient(45deg, $other 25%, transparent 25%, transparent 75%, $other 75%, $other);
        background-size: 30px 30px;
        background-position:0 0, 15px 15px;
      }

      p {
        text-align: center;
      }
    }
  }

  margin-top: 280px;

  @media screen and (max-width: 805px) {
    margin-top: 96px;
  }
}
