<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Queima das Fitas 2018</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">

  <link rel="shortcut icon" href="/assets/resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/resources/favicon.ico" type="image/x-icon">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta property="og:title" content="Queima das Fitas 2018" />
  <meta property="og:image" content="https://scontent.fopo2-2.fna.fbcdn.net/v/t31.0-8/27356105_947907725358570_6811444980122334731_o.jpg?oh=0916ba820d976c1de90a70575e3cf09a&oe=5AE5B209" />
  <meta property="og:description" content="A melhor semana do teu ano está a chegar. Já te estás a preparar? Pois, não vais querer ficar na cama. Não faças fitas e marca já na tua agenda nos dias 4 a 11 de Maio!" />
</head>

<body>
  <section class="hero">
    <div id="box">
      <div data-depth="0.2" class="layer" id="l1">
        <div class="_1">
          <img src="/assets/resources/left-top.png">
        </div>
        <div class="_2">
          <img src="/assets/resources/left-bottom.png">
        </div>
        <div class="_3">
          <img src="/assets/resources/right-bottom.png">
        </div>
      </div>
    </div>
    <div class="download-container">
      <div class="link-container">
        <div class="download-top desktop">
          <img src="/assets/resources/download-top-desktop.png">
        </div>
        <div class="download-top mobile">
          <img src="/assets/resources/download-top-mobile.png">
        </div>
        <div class="download-top-heart">
          <img src="/assets/resources/heart.png">
        </div>
        <a class="upper" href="/assets/resources/Regulamento-Inscrição-Cortejo-2018.zip" download >→ Inscrições dos Carros no Cortejo da Queima das Fitas (zip) </a>
        <a class="upper" href="/assets/resources/Regulamento-youtuber2018.pdf" download >→ Regulamento do YouTube (PDF) </a>
        <a class="upper" href="/assets/resources/Adenda.pdf" download >→ Adenda ao Regulamento do YouTube (PDF) </a>
        <a class="upper" href="/assets/resources/Caderno-de-Encargos_Segurança.pdf" download >→ Caderno de encargos - Segurança e Vigilância (PDF) </a>
        <a class="upper" href="/assets/resources/Caderno-de-Encargos_Produção.pdf" download >→ Caderno de encargos - Produção (PDF) </a>
        <a class="upper" href="/assets/resources/Caderno-de-Encargos_Limpeza.pdf" download >→ Caderno de encargos - Limpeza (PDF) </a>
      </div>
    </div>
  </section>
  <footer>
    <a href="https://www.facebook.com/queimadasfitascoimbra" target="_blank">facebook</a>
    <a href="https://www.instagram.com/queimadasfitascoimbra" target="_blank">instagram</a>
    <a href="/">voltar</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script type="text/javascript" src="/assets/javascript/move.js"></script>
</body>
</html>
