footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: "VCR";
}
footer a {
  margin-right: 12px;
  margin-left: 12px;
}
@media only screen and (max-width: 500px) {
  footer {
    padding: 32px;
  }
}
