footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-family: 'VCR', monospace;
  width: 100%;
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-links a {
  margin-left: 12px;
  margin-right: 12px;
}
