footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: "VCR";
}
footer a {
  margin-right: 12px;
  margin-left: 12px;
}
