<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Queima das Fitas 2018</title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  <link rel="stylesheet" type="text/css" href="assets/stylesheets/application.css">

  <link rel="shortcut icon" href="../../assets/resources/favicon.ico" type="image/x-icon">
  <link rel="icon" href="../../assets/resources/favicon.ico" type="image/x-icon">

  <!-- Facebook Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
     fbq('init', '453628975056346');
    fbq('track', 'PageView');
    </script>
    <noscript>
     <img height="1" width="1"
    src="https://www.facebook.com/tr?id=453628975056346&ev=PageView
    &noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta property="og:title" content="Queima das Fitas 2018" />
  <meta property="og:image" content="https://scontent.fopo2-2.fna.fbcdn.net/v/t31.0-8/27356105_947907725358570_6811444980122334731_o.jpg?oh=0916ba820d976c1de90a70575e3cf09a&oe=5AE5B209" />
  <meta property="og:description" content="A melhor semana do teu ano está a chegar. Já te estás a preparar? Pois, não vais querer ficar na cama. Não faças fitas e marca já na tua agenda nos dias 4 a 11 de Maio!" />
</head>

<body>
  <section class="hero">
    <div id="box">
      <div data-depth="0.2" class="layer" id="l1">
        <div class="_1">
          <img src="assets/resources/left-top.png">
        </div>
        <div class="_2">
          <img src="assets/resources/left-bottom.png">
        </div>
        <div class="_3">
          <img src="assets/resources/right-bottom.png">
        </div>
      </div>
      <div data-depth="0.4" class="layer" id="l2">
        <div class="_1">
          <div class="c-hero-title">
            <div class="flasher"></div>
            <img src="assets/resources/hero-title.png">
          </div>
        </div>
      </div>
      <div data-depth="0.6" class="layer" id="l3">
        <div class="_1">
          <img src="assets/resources/hero-subtitle.png">
        </div>
      </div>
      <div data-depth="1" class="layer" id="l4">
        <div class="_1">
          <img src="assets/resources/hero-top.png">
        </div>
      </div>
    </div>
  </section>
  <footer>
    <a href="https://www.facebook.com/queimadasfitascoimbra" target="_blank">facebook</a>
    <a href="https://www.instagram.com/queimadasfitascoimbra" target="_blank">instagram</a>
    <a href="views/documents">documentos</a>
    <a href="views/contacts">contactos</a>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
  <script type="text/javascript" src="assets/javascript/move.js"></script>
</body>
</html>
