<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title>Queima das Fitas 2018</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <link rel="stylesheet" type="text/css" href="../../assets/stylesheets/application.css">

    <link rel="shortcut icon" href="../../assets/resources/favicon.ico" type="image/x-icon">
    <link rel="icon" href="../../assets/resources/favicon.ico" type="image/x-icon">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <meta property="og:title" content="Queima das Fitas 2018" />
    <meta property="og:image" content="https://scontent.fopo2-2.fna.fbcdn.net/v/t31.0-8/27356105_947907725358570_6811444980122334731_o.jpg?oh=0916ba820d976c1de90a70575e3cf09a&oe=5AE5B209" />
    <meta property="og:description" content="A melhor semana do teu ano está a chegar. Já te estás a preparar? Pois, não vais querer ficar na cama. Não faças fitas e marca já na tua agenda nos dias 4 a 11 de Maio!" />
  </head>
  <body>
    <a class="logo logo-home" href="../../">
      <div class="title">
        <h1>QUEIMA DAS FITAS</h1>
        <div class="blink"></div>
      </div>
      <div class="place">
        COIMBRA → 2018
      </div>
      <div class="when">
        4 → 11 MAIO
      </div>
      <div class="top">
        -
      </div>
      <div class="square"><div class="inner-square"></div></div>
      <div class="heart">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10.39 9.56">
          <g><g><path d="M5.16,1.69A2.72,2.72,0,0,1,7.66,0a2.88,2.88,0,0,1,2.72,2.81,2.79,2.79,0,0,1-.09,1.06A4.7,4.7,0,0,1,8.85,6.27L5.16,9.56,1.54,6.27A4.7,4.7,0,0,1,.1,3.88,2.81,2.81,0,0,1,0,2.81,2.88,2.88,0,0,1,2.73,0,2.63,2.63,0,0,1,5.16,1.69Zm.09-.18"></g></g>
        </svg>
      </div>
    </a>
    <div class="nav-button">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <div class="navbar">
      <nav>
        <div><a href="../poster/">CARTAZ</a></div>
        <div><a href="../soon/">HISTÓRIA</a></div>
        <div></div>
        <div><a href="../tickets/">BILHETES</a></div>
        <div><a href="../calendar/">CALENDÁRIO</a></div>
        <div><a href="../news/">NOTÍCIAS</a></div>
        <div><a href="../documents/">DOCUMENTOS</a></div>
        <div><a href="../contacts/">CONTACTOS</a></div>
        <div><a href="../partners/">PARCEIROS</a></div>
      </nav>
    </div>

    <main class="soon-container">
      <div class="soon-container-c">
        <div class="soon-top">
          ALERTA
        </div>
        <div class="square"><div class="inner-square"></div></div>
        
        BILHETES BREVEMENTE DISPONÍVEIS
        </div>

    </main>

    <script src="../../assets/javascript/nav.js"></script>
  </body>
</html>
