/*
--------------------------------------------------------------------------------
Playfair Display, serif
regular: 400
bold: 700
black: 900
--------------------------------------------------------------------------------
*/
@import 'https://fonts.googleapis.com/css?family=Montserrat:600,600i,700,700i';

@font-face {
font-family: VCR;
src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
font-family: AnoBlackItalic;
src: url(./fonts/ANOBLACK-ITALIC.OTF);
}
