/*
--------------------------------------------------------------------------------
Playfair Display, serif
regular: 400
bold: 700
black: 900
--------------------------------------------------------------------------------
*/

@font-face {
font-family: VCR;
src: url(./fonts/VCR_OSD_MONO_1.001.ttf);
}
@font-face {
font-family: AnoBlack;
src: url(./fonts/ANOBLACK-ITALIC.OTF);
}
@font-face {
font-family: AnoBlackRegular;
src: url(./fonts/ANOREGULAR-ITALIC.OTF);
}
