/*
--------------------------------------------------------------------------------
COLORS - alphabetical order
--------------------------------------------------------------------------------
*/
$black: #000000;
$dark:  #2f353b;
$light: #eaebec;
$red:   #e15555;
$white: #ffffff;
$orange:      #ff5314;
$lightgrey:   #e3e3e3;

// Course COLORS

$main: #f4eee6;
$other: #ff8b00;
